API_ID=297XXXXX
API_HASH=abc123def456789...
BOT_TOKEN=8123456789:AAHxyzabc...
OWNER_ID=7263846981
STORAGE_CHANNEL=@playflx
BASE_URL=https://playflx-server.onrender.com
DATABASE_URL=mongodb+srv://user:pass@cluster.mongodb.net/StreamLinksDB?retryWrites=true&w=majority
FORCE_SUB_CHANNEL=@playflx